<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Info</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }} "
    />
  </head>
  <body>
    <h1>{{ weather_info.city }} Weather</h1>
    {% if weather_info.error %}
    <p>{{ weather_info.error }}</p>
    {% else %}
    <p>{{ weather_info.description }} and {{ weather_info.temperature }} °F</p>
    <p>Feels Like: {{ weather_info.feels_like }} °F</p>
    <img
      src="http://openweathermap.org/img/wn/{{ weather_info.icon }}@2x.png"
      alt="Weather icon"
    />
    <p>App by Tyrone Oldham</p>

    {% endif %}
    <a style="color: white" href="/">Go back</a>
  </body>
</html>
